@charset "utf-8";
@import url(/css/font.css);

// mixin
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1400px,
  'xxl': 1920px
);
@mixin bp($size) {
  $width: map-get($breakpoints, $size);
  @media (max-width: #{$width}) {
    @content;
  }
}
@mixin hf {
  @media (hover: hover) and (pointer: fine) {
    &:hover { @content; }
  }
  &:focus-visible { @content; }
}

// style
$main_color01:#000080;
$main_color02:#FFFF12;
$main_color03:#4747D4;
$bg_color01:#EEEEFF;
$bg_color02:#E8E8E8;
$gray_color01:#000028;
$gray_color02:#484856;
$gray_color03:#7E7E94;
$radius:16px;
$radius_sm:8px;
$radius_lg:40px;
$oval:100px;
$circle:50%;
@include bp('md'){
    $radius:8px;
}

// reset
*,::after,::before{margin:0;padding:0;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body,html{height:100%;width:100%;overflow-x: hidden;font-family:Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,sans-serif;font-size:18px;line-height:1.5;color:$gray_color01;-ms-overflow-style: none;scrollbar-width: none;-webkit-scrollbar: none;

    @include bp('md'){font-size: 16px;}
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
a{text-decoration:none;color:inherit;

  @media (hover: hover) and (pointer: fine) {
    &:hover {text-decoration:none;color:inherit;}
  }
  &:focus-visible { text-decoration:none;color:inherit; outline-color: $main_color03;}
}
button,input,select,textarea{background:0 0;border:0;font:inherit;color:inherit;outline:0}
button{cursor:pointer}
img,video{max-width:100%;height:auto;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}