@import url(/css/font.css);
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000028;
}
@media (max-width: 768px) {
  body, html {
    font-size: 16px;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
a:focus-visible {
  text-decoration: none;
  color: inherit;
  outline-color: #4747D4;
}

button, input, select, textarea {
  background: 0 0;
  border: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

button {
  cursor: pointer;
}

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 80px;
}
@media (max-width: 1920px) {
  .container {
    padding: 0 60px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}

.intro {
  height: 100vh;
}
.intro .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
.intro-head {
  display: flex;
  align-items: self-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.intro-head .tit {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
}
.intro-head .line {
  flex: auto;
  position: relative;
  height: 12px;
  margin-bottom: 10px;
  background-color: #000028;
}
.intro-head .dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
}
.intro-list {
  display: flex;
  gap: 24px;
}
.intro-item {
  flex: 1 1 10%;
  transition: flex 0.5s ease-in-out;
}
.intro-item:has(.intro-unit:hover) {
  flex: 1 1 31%;
}
.intro-unit {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background: url(/img/intro-img02.jpg) no-repeat center/cover;
}
.intro-unit::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px) brightness(0.3);
          backdrop-filter: blur(10px) brightness(0.3);
  transition: -webkit-backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
}
.intro-unit .tit-box {
  text-align: right;
}
.intro-unit .tit {
  margin-top: 10px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  line-height: 1;
  color: #fff;
}
.intro-unit .txt {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
  opacity: 0.7;
}
.intro-unit .info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 0;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  text-align: left;
  transition: width 0.7s;
  white-space: nowrap;
}
.intro-unit .info .line {
  display: inline-block;
  flex: 1 1 10%;
  height: 2px;
  vertical-align: super;
  background-color: #fff;
  content: "";
}
@media (hover: hover) and (pointer: fine) {
  .intro-unit:hover::after {
    -webkit-backdrop-filter: blur(2px) brightness(0.5);
            backdrop-filter: blur(2px) brightness(0.5);
  }
  .intro-unit:hover .info {
    width: 100%;
    transition: width 1s;
  }
}
.intro-unit:focus-visible::after {
  -webkit-backdrop-filter: blur(2px) brightness(0.5);
          backdrop-filter: blur(2px) brightness(0.5);
}
.intro-unit:focus-visible .info {
  width: 100%;
  transition: width 1s;
}
@media (max-width: 1920px) {
  .intro-unit .tit {
    font-size: 48px;
  }
}
@media (max-width: 1400px) {
  .intro-head .tit {
    font-size: 64px;
  }
  .intro-unit {
    padding: 2rem;
  }
}
@media (max-width: 992px) {
  .intro-list {
    gap: 12px;
  }
  .intro-head {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .intro-head .tit {
    font-size: 48px;
  }
  .intro-unit .tit {
    font-size: 32px;
  }
  .intro-unit .txt {
    font-size: inherit;
  }
  .intro-unit .info {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .intro {
    height: auto;
    padding: 60px 0;
  }
  .intro-head {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .intro-head .tit {
    font-size: 40px;
  }
  .intro-head .line {
    height: 8px;
  }
  .intro-head .dot {
    width: 16px;
    height: 16px;
  }
  .intro-list {
    flex-direction: column;
  }
  .intro-unit {
    gap: 24px;
    padding: 1.5rem 2rem;
  }
  .intro-unit .tit-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
  .intro-unit .tit {
    margin-top: 0;
    font-size: 32px;
  }
  .intro-unit .info {
    width: 100%;
  }
  .intro-unit .info .line {
    height: 1px;
  }
}